{{> header }}
{{> navbar}}

<div class="row">

    <div class="col">
      <h1>El lobo</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin
        risus et lacus placerat, ut dignissim odio varius. Proin in arcu sit amet 
        nibh ullamcorper tincidunt. Ut quis ullamcorper mauris. Nullam at ante posuere 
        ex sagittis faucibus sit amet nec lacus. Suspendisse elit lectus, egestas sit amet
        felis eu, sagittis tincidunt tellus. Suspendisse elementum iaculis risus, in gravida
        sem volutpat sit amet. Suspendisse ornare blandit diam, ut imperdiet dui blandit et.
        Morbi ultrices vestibulum mattis. Sed vulputate lorem eget finibus varius. Cras ut 
        lectus at ante pellentesque blandit eu vel augue. Suspendisse id sodales sapien. 
        In dictum volutpat fringilla. Aliquam erat volutpat.
      </p>
    </div>
    <div class="col">
       <img class="img-thumbnail"  src="/assets/img/920x920.jpg" alt="Imaguen de lobo">
    </div>
    {{!-- <div class="col">

    </div> --}}
</div>
 

{{> footer}}